body {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

/* Headings */
.big-heading {
  font-family: 'Montserrat-Black', sans-serif;
  font-size: 3.5rem;
  font-weight: 900;
  line-height: 1.5;
}

/* Navigation Bar */
.container-fluid {
  padding: 3% 15% 7%;
}

#title {
  background-color: #ff4c68;
  color: #fff;
  text-align: left;
}

.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: 'Ubuntu', sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding-left: 18px;
  padding-right: 18px;
}

.nav-link {
  font-size: 1.2rem;
}

/* Download Buttons */
.download-button {
  margin: 5% 5% 0 0;
}

/* Title Image */
.title-image {
  width: 60%;
  transform: rotate(25deg);
  position: absolute;
  right: 30%;
}

@media (max-width: 1000px) {
  #title {
    text-align: center;
  }

  .title-image {
    position: static;
    transform: rotate(0deg);
    padding-top: 10%;
  }
}

/* Features */
.features {
  padding: 8% 20%;
  text-align: center;
  background-color: #fff;
  position: relative;
}

.feature-titles {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
}

.feature {
  padding: 15px 15px 0;
}

.feature-image {
  color: #ef8172;
  font-size: 7em;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.feature-image:hover {
  color: #ff4c68;
}

/* Testimonials  */
#testimonials {
  background-color: #ef8172;
  color: #fff;
}

.carousel-item {
  padding: 7% 15%;
}

.testimonial-text {
  font-weight: 900;
  font-size: 3rem;
  line-height: 1.5;
}

.testimonial-image {
  border-radius: 100%;
  width: 10%;
  margin: 20px;
}

/* Press */
#press {
  background-color: #ef8172;
  padding-bottom: 3%;
}

.press-logo {
  margin: 20px 20px 50px;
  width: 15%;
}

/* Pricing */
.pricing-title {
  font-size: 3rem;
  line-height: 1.5;
  font-weight: bold;
}

.price-name {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
}

#pricing {
  padding: 8% 15%;
}

.pricing-column {
  padding: 3% 2%;
}

.price-text {
  font-size: 3rem;
  line-height: 1.5;
  font-weight: bold;
}

/* Call to Action */
#cta {
  background-color: #ff4c68;
  padding: 6% 20%;
  color: #fff;
}

.cta-text {
  font-size: 2.5rem;
  font-weight: 900;
  padding-bottom: 4%;
  text-align: center;
}

.cta-button {
  margin: 2% 2%;
}

/* Footer */
#footer {
  margin: 4% 0;
}

.footer-icon {
  margin: 0 2%;
}

a {
  color: black;
}

a:hover {
  color: #4a4a4a;
}

.copyright {
  margin: 2%;
}
